.selected-stages {
  display: grid;
  grid-template-columns: repeat(3, 0fr);
}

.stage-item {
  list-style: none;
  width: 11rem;
}

.bold-text {
  color: #74a16f;
  font-weight: bold;
}

.subtitle {
  color: #ecaf2b;
  font-weight: bold;
}

.start-btn {
  background-color: #74a16f;
  color: #f7f7f7;
  width: 100%;
  border-radius: 2rem;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 3px 3px #35353590;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 3rem;
}

.start-btn:hover,
.start-btn:active {
  background-color: #5f855b;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 3px 3px #353535;
}

.reset-btn {
  background-color: #f4bc44;
  color: #353535;
  width: 100%;
  border-radius: 2rem;
  font-weight: bold;
  width: 50%;
  text-align: center;
  padding: 1rem;
  box-shadow: 1px 3px 3px #35353590;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 3rem;
}

.reset-btn:hover,
.reset-btn:active {
  background-color: #ecaf2b;
  transition: all 0.3s ease-in-out;
  box-shadow: 1px 3px 3px #353535;
}

.selected-stages-route {
  display: flex;
  justify-content: center;
}

.stage-item-route {
  margin-right: 0.3rem;
  font-weight: bold;
  font-size: 1.5rem;
}
